.paper {
  padding: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textInput {
  margin: 5px 0 !important;
}

.fileInput {
  width: 97%;
  margin: 10px 0;
}

.buttonSubmit {
  margin-bottom: 10px !important;
}
